body {
    display: flex;
    background-color: black;
}
.header {
    width: 100%;
    height: 70px;
    top: 0px;
    left: 0px;
    position:fixed;
    background-color: black;
}
.navbar {
    width: 128px; 
    padding: sticky;
    height:100%;
    padding-top:70px; 
    left:0px;
    bottom:0px;
    z-index: -1;
    padding-right:50px ;

}


.Feature-courses-parent {
    display: flex;
    padding-top: 40px;
    width: 83%;
   
    right: 0px;
}


.navbar a:hover { 
    background-color: rgb(41, 40, 40);
}

.sticky {
    width: 75%;   
}

.fieldbar .a:hover {
    border-radius:15px;
    background-color: rgb(42, 38, 38);
    padding: 10px;
}
